nibabel==5.2.1
numba==0.60.0
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///croot/numpy_and_numpy_base_1682520569166/work
optuna==3.2.0
pandas==1.5.3
pydicom==2.4.4
pytorch-lightning==1.8.0
scikit-image @ file:///croot/scikit-image_1682528309703/work
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy==1.13.0
SimpleITK==2.2.1
torch==1.12.0
torch-geometric==2.3.1
torch-scatter @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-scatter_1669298910741/work
torch-summary==1.4.5
torchaudio==0.12.0
torchmetrics @ file:///croot/torchmetrics_1677572957414/work
torchvision @ file:///croot/torchvision_1689078161692/work
tqdm @ file:///croot/tqdm_1679561862951/work
vtk==9.0.3
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1686095295564/work
widgetsnbextension==4.0.10
xgboost==1.7.3
zipp @ file:///croot/zipp_1672387121353/work
